#calculator {
    width: 100%;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
}

.controls, .bottom {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls_left, .coord {
    display: flex;
    flex-direction: row;
}

.controls_left p {
    margin-right: 15px;
}

#list {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.coord{
    margin-bottom: 5px;
}